/* GLOBAL STYLES FOR FORMS ON THE SITE */
.forms_container {

}

.forms {
	width: 75%;
	margin: 0 auto;
}

.forms p label span, .forms .input-field div ul li span {
	width: 100%;
}

.form_hover {
	cursor: pointer;
}

.forms_button {
	display: block;
	width : 35%;
	margin: 0 auto;
	height: 40px;
	background-color: #120A8F;
	color: #FFD700;
	text-transform: uppercase;
	font-family: arial black;
}

.forms_button:hover {
	cursor: pointer;
}

/* END GLOBAL STYLES FOR FORMS ON THE SITE */

/* STYLES FOR THE COVID FORM */



/* END STYLES FOR COVID FORM */

/* CONTACT EMAIL FORM */

#contact_form{
	width: 100%;
}

#contact_form textarea{
	width:100%;
	height:80px;
	margin-top:5px;
	border-radius:3px;
	padding:5px;
	resize:none;
}

#contact_form label span{
	color:red
}

#note{
	color:black;
	font-Weight:400;
}

#returnmessage{
	font-size:14px;
	color:green;
	text-align:center;
}
/* END CONTACT EMAIL FORM */

@media only screen and (max-width: 700px) {
	.forms {
		width: 95%;
		margin: 0 auto;
	}

}

