/*STYLES FOR FORMS ON THE SITE*/
@import url(//db.onlinewebfonts.com/c/cb012419e4820b27abcd1c2e339b8901?family=Berthold+Akzidenz+Grotesk+BE);

.forms_container {

}

.forms {
	width: 50%;
	margin: 0 auto;
	background-color: white;
}

.forms_input {
	box-sizing:border-box;
	width: 100%;
	border: 1px solid #120A8F;
	border-radius: 5px;
	margin: 10px 0;
}

.forms_button {
	display: block;
	width : 50%;
	margin: 0 auto;
	height: 50px;
	background-color: #120A8F;
	color: #FFD700;
	text-transform: uppercase;
	font-family: arial black;
}
