/*STYLES FOR FORMS ON THE SITE*/
.forms_container {

}

.forms {
	width: 50%;
	margin: 0 auto;
}

.forms_input {
	box-sizing:border-box;
	width: 100%;
	height: 30px;
	border: none;
	border-bottom: 1px solid #120A8F;
	margin: 5px 0;
	transition: height 0.2s linear;
}

.form_hover {
	height: 50px;
	cursor: pointer;
	transition: height 0.2s linear;
}

/*.half_input {
	width: 49.55%;
}

.thirds_input {
	width: 32.78%
	}*/

.forms_button {
	display: block;
	width : 35%;
	margin: 0 auto;
	height: 40px;
	background-color: #120A8F;
	color: #FFD700;
	text-transform: uppercase;
	font-family: arial black;
}
